Support for java arrays

Jakarta NoSQL 3.0 spec.:

2.1.2. Basic Types

- byte[]    Represents binary data.

It looks like only bytes array is supported.

On the other hand, Jakarta JSON-B 3.0 spec.:

3.12. Arrays

JSON Binding implementations MUST support the binding of Java arrays of
all supported Java types from this chapter into/from JSON array
structures as defined in Section 5 of RFC 7159.
Arrays of primitive types and multi-dimensional arrays MUST be supported.

I have to implement my custom IntegerArrayValueReader, LongArrayReader,
etc...


Ref: https://www.eclipse.org/lists/nosql-dev/msg00248.html